.calculator {
    font-family: monospace;
    /*font-size: 20px;*/
  }
  
  .calculator p {
    font-size: 15px;
  }
  
  .calculator button {
    /*font-family: monospace;*/
  }
  
  .bg {
    background-color: #b7e6f7;
    align-items: center;
    vertical-align: middle;
  }
  
  .box {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 35%;
    position: absolute;
    margin: auto;
    text-align: center;
    text-align-last: center;
  }
  
  .calcBox {
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
    position: absolute;
    margin: auto;
    text-align: center;
    text-align-last: center;
  }
  
  .selector {
    width: 300%;
    height: 50px;
    font-weight: bold;
  }
  
  input {
      width: 40px;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }